<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.bsparanoid.sqliteturoriel">
    <!-- utilisation espace nom android + déclaration du package ou se trouve notre app -->

    <!-- version du logiciel qui est utilisé par le playStore
         android:versionCode="1"
         version du logiciel montré à l'utilisateur
         android:versionName="version de l'app 1.0" -->

    <!-- <activity android:name=".MainActivity" android:configChanges="orientation" android:screenOrientation="portrait">
         le main screen et définit en mode portrait | android:configChanges force android à nous laisser la main sur l'orientation -->

    <uses-sdk android:minSdkVersion="4.4" />

    <application
        android:versionCode="1"
        android:versionName="version de l'app 1.0"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:configChanges="orientation" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataBaseView"></activity>
    </application>

</manifest>